.work-area {
  background-color: #f5f6fa;
  border: 1px solid #C4C2C0;
  display: flex;
  padding: 5px !important;
  color: white;
}

.row {
  margin: 0px;
  padding: 0px;
}

.row div{
  margin: 0px;
  padding: 0px; 
}

 .detailsTable {
  padding: 20px !important;
 }

 .tt-controls {
  padding: 2px !important;
 }

.period {
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3640;
  font-weight: bold;
  border: 1px solid black;
}

.allotted {
  background-color: #c23616;
}

.multihour {
  background-color: #4cd137;
}

.isolatedhour {
  background-color: #fbc531;
}

.period:hover {
  opacity: 0.8;
  cursor: pointer;
}

.selected {
  box-shadow: inset 0 0 0 2px black, 0 0 1px rgba(0, 0, 0, 0);
  opacity: 0.8;
}


/*
Orange: #e1b12c 

*/