.App {
  text-align: center;
}

.work-area {
  background-color: #f5f6fa;
  border: 1px solid #C4C2C0;
  display: flex;
  padding: 5px !important;
  color: white;
}

.open-close {
  font-size: 18px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.row div{
  margin: 0px;
  padding: 0px; 
}

 .detailsTable {
  padding: 20px !important;
 }

 .tt-controls {
  padding: 2px !important;
 }

.period {
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3640;
  font-weight: bold;
  border: 1px solid black;
}

.period:hover {
  opacity: 0.7;
  cursor: pointer;
}

select.period {
  padding: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 5px;
  color: #ffcdcd;
}

select.period option {
  background-color: white;
  color: black;
}

select.period:focus {
  opacity: 0.7;
}

